# Environment variables
.env .env

# Environments
.env

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
/media/

# Static files
/staticfiles/

# Cache
/cache/
